<h3>Log In</h3>
<%= form_for @user, { controller: "user", action: "redirect" } do |f| %>
	<%= f.text_field :email, placeholder: "Email", required: true %>
	<br>
	<%= f.password_field :password, placeholder: "Password", required: true %>
	<%= hidden_field_tag 'title', 'coder' %>
	<%= f.submit 'submit' %>
<% end %>