<!--  -->
<h4>Sign Up as a Coder</h4>
<%= form_for @coder, { action: "create" } do |f| %>
	<%= f.text_field :name, placeholder: "Name" %>
	<br>
	<%= f.text_field :email, placeholder: "Email" %>
	<br>
	<%= f.text_field :picture, placeholder: "Image Link" %>
	<br>
	<%= f.password_field :password, placeholder: "Password" %>
	<br>
	<%= f.password_field :password_confirmation, placeholder: "Password" %>
	<%= hidden_field_tag 'title', 'coder' %>
	<%= f.submit 'submit' %>
<% end %>

<!--  -->
<h4>Sign Up as a Do-Gooder</h4>
<%= form_for @do_gooder, {action: "create"} do |f| %>
	<%= f.text_field :name, placeholder: "Name" %>
	<br>
	<%= f.text_field :email, placeholder: "Email" %>
	<br>
	<%= f.text_field :picture, placeholder: "Image Link" %>
	<br>
	<%= f.password_field :password, placeholder: "Password" %>
	<br>
	<%= f.password_field :password_confirmation, placeholder: "Password" %>
	<%= hidden_field_tag 'title', 'do-gooder' %>
	<%= f.submit 'submit' %>
<% end %>