<!DOCTYPE html>
<html>
<head>
	<title>CodeCause</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container" id="navbar-container">
			<ul class="nav navbar-nav">
				<li class="navbar-item"><a id="logo" href="#">Code + Cause</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= form_tag(causes_path, method: :get, class: "navbar-form navbar-left", role:'search') do %>
					<div class="form-group input-append">
						<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Causes" %>
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
					<% end %>
				</li>
				<li class="navbar-item"><%= link_to 'Sign Up', signup_path %></li>
				<li class="navbar-item"><%= link_to 'Log In', login_path %></li>
			</ul>
		</div>
	</div>

	<%= yield %>

</body>
</html>

