<h3><%= @coder.name %></h3>

<%= @coder.about %><br/><br/>

<div>
  MY SKILLS:<br/>
  <% @coder.skills.each do |skill| %>
    <%= skill %><br/>
  <% end %>
</div>

<br/><br/>

<div>
  MY CAUSES:<br/>
  <% @coder.causes.each do |cause| %>
    <%= cause.name %><br/>
    <%= cause.description %><br/>
  <% end %>
</div>

<br/><br/>

<div>
  CONTACT:<br/>
  <%= @coder.email %>
</div>

<button><%= link_to 'Edit Your Profile', edit_coder_path %></button>